<ion-content [fullscreen]="true">
  <div class="container">
    <div id="map-container" class="no-scroll"></div>
  </div>
  <ion-fab horizontal="start" vertical="top" slot="fixed">
    <ion-menu-toggle>
      <ion-fab-button color="light">
        <ion-icon name="menu-outline" color="primary"></ion-icon>
      </ion-fab-button>
    </ion-menu-toggle>
  </ion-fab>
</ion-content>

<ion-toolbar>
  <div style="display: flex;">
    <div id="covid-area-info-container">
      <h5>Wear a mask and save lives</h5>
      <p id="covid-area-info-message">In Pennsylvania, you are required by law to wear a mask in public places.</p>
      <a class="small-text-bold">View Latest Information</a>
    </div>
    <div id="covid-area-info-mask-container">
      <img width="40" src="../../assets/mask.png" alt="">
    </div>
  </div>

</ion-toolbar>

<ion-toolbar>
  <ion-searchbar [(ngModel)]="queryText" class="large-search" placeholder="Search A Place?" (keydown.enter)="search()"></ion-searchbar>
</ion-toolbar>

<ion-toolbar>

  <ion-footer class="ion-no-border" id="home-screen-bottom-nav">
    <ion-grid>
      <ion-row>
        <ion-col class="bottom-nav-item" (click)="this.map.panTo(this.userLocation.getPosition());this.map.setZoom(15)">
            <ion-icon name="navigate-outline"></ion-icon>
            <p>My Location</p>
        </ion-col>
        <ion-col class="bottom-nav-item" (click)="openMapOptions()">
            <ion-icon name="filter-outline"></ion-icon>
            <p>Map Options</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ion-toolbar>
