<ion-header>
    <ion-toolbar>
        <ion-icon name="close-outline" style="font-size: 30px;margin-left: 5px;" (click)="closeModal()"></ion-icon>
    </ion-toolbar>
    <ion-toolbar>
        <ion-title size="large">Manage Alerts</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item-sliding>
        <ion-item>
            <div style="display: flex;justify-content: space-between;width: 100%;">
                <div style="display: flex;flex-direction: column;padding: 10px 0px;width: 60%;">
                    <p style="font-size: 16px;font-weight: 600;margin: 0px;margin-bottom: 5px;">Dilworth Park</p>
                    <p style="margin: 0px;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;font-size: 16px;">Location Event: Open</p>
                </div>
                <div style="width: 35%;display: flex;justify-content: flex-end;align-items: center;">
                    <p style="font-size: 16px;">
                        <ion-icon name="infinite"></ion-icon>
                    </p>
                </div>
            </div>

        </ion-item>

        <ion-item-options side="end">
            <ion-item-option color="danger">Delete</ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
        <ion-item>
            <div style="display: flex;justify-content: space-between;width: 100%;">
                <div style="display: flex;flex-direction: column;padding: 10px 0px;width: 60%;">
                    <p style="font-size: 16px;font-weight: 600;margin: 0px;margin-bottom: 5px;">King Of Prussia Mall</p>
                    <p style="margin: 0px;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;font-size: 16px;">Location Event: Open</p>
                </div>
                <div style="width: 35%;display: flex;justify-content: flex-end;align-items: center;">
                    <p style="font-size: 16px;">
                        <ion-icon name="infinite"></ion-icon>
                    </p>
                </div>
            </div>

        </ion-item>

        <ion-item-options side="end">
            <ion-item-option color="danger">Delete</ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
        <ion-item>
            <div style="display: flex;justify-content: space-between;width: 100%;">
                <div style="display: flex;flex-direction: column;padding: 10px 0px;width: 60%;">
                    <p style="font-size: 16px;font-weight: 600;margin: 0px;margin-bottom: 5px;">Whole Foods</p>
                    <p style="margin: 0px;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;font-size: 16px;">Location Event: Current Status</p>
                </div>
                <div style="width: 35%;display: flex;justify-content: flex-end;align-items: center;">
                    <p style="font-size: 16px;">7/20 5:00 PM</p>
                </div>
            </div>

        </ion-item>

        <ion-item-options side="end">
            <ion-item-option color="danger">Delete</ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
</ion-content>