<ion-header>
    <ion-toolbar>
        <ion-icon name="close-outline" style="font-size: 30px;margin-left: 5px;" (click)="closeModal()"></ion-icon>
    </ion-toolbar>
    <ion-toolbar>
        <ion-title size="large">Manage Alerts</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let alert of alerts">
            <ion-item>
                <div style="display: flex;justify-content: space-between;width: 100%;">
                    <div style="display: flex;flex-direction: column;padding: 10px 0px;width: 60%;">
                        <p style="font-size: 16px;font-weight: 600;margin: 0px;margin-bottom: 5px;">{{alert.nickname}}</p>
                        <p style="margin: 0px;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;font-size: 16px;">Location Event: {{alert.type}}</p>
                    </div>
                    <div style="width: 35%;display: flex;justify-content: flex-end;align-items: center;">
                            <p *ngIf="alert.type == 'Current Status'" style="font-size: 16px;">{{alert.date}} {{alert.time}}</p>
                            <ion-icon *ngIf="alert.type != 'Current Status'" name="infinite"></ion-icon>
                    </div>
                </div>
    
            </ion-item>
    
            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="deleteAlert(alert.nickname)">Delete</ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>