<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button>
                Reset
            </ion-button>
        </ion-buttons>
        <ion-title>Map Options</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                Done
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <ion-list>
        <ion-item>
            <ion-label>Show Attractions</ion-label>
            <ion-toggle [(ngModel)]="showAttractions" (click)="toggleVis(map.styles[7])"></ion-toggle>
        </ion-item>
      
        <ion-item>
            <ion-label>Show Businesses</ion-label>
            <ion-toggle [(ngModel)]="showBusinesses" (click)="toggleVis(map.styles[8])"></ion-toggle>
        </ion-item>
      
        <ion-item>
            <ion-label>Show Gov. Buildings</ion-label>
            <ion-toggle [(ngModel)]="showGovernment" (click)="toggleVis(map.styles[9])"></ion-toggle>
        </ion-item>

        <ion-item>
            <ion-label>Show Parks</ion-label>
            <ion-toggle [(ngModel)]="showParks" (click)="toggleVis(map.styles[10])"></ion-toggle>
        </ion-item>

        <ion-item>
            <ion-label>Show Places of Worship</ion-label>
            <ion-toggle [(ngModel)]="showPlaceOfWorship" (click)="toggleVis(map.styles[11])"></ion-toggle>
        </ion-item>

        <ion-item>
            <ion-label>Show Schools</ion-label>
            <ion-toggle [(ngModel)]="showSchools" (click)="toggleVis(map.styles[12])"></ion-toggle>
        </ion-item>

        <ion-item>
            <ion-label>Show Sports Complexes</ion-label>
            <ion-toggle [(ngModel)]="showSportsComplex" (click)="toggleVis(map.styles[13])"></ion-toggle>
        </ion-item>
      </ion-list>
</ion-header>